body {
    padding-top: 35px;
    padding-left: 600px;
    background-color: #faebd7;
}

.glass {
    width: 9rem;
    height: 20rem;
    border: 0.35rem solid #000;
    border-radius: 0 0 10% 10%;
    padding: 1rem;
    position: relative;
    top: 100px;
}

.drink {
    width: 100%;
    height: 100%;
    background: linear-gradient(#fce372, #ff3525);
    border-radius: 0 0 10% 10%;
}

.straw {
    width: 0.5rem;
    height: 3rem;
    background: red;
    position: absolute;
    top: -3.25rem;
    right: 3rem;
    transform: rotate(10deg);
}

.straw::before {
    content: "";
    position: absolute;
    background-color: red;
    width: 0.5rem;
    height: 3rem;
    top: -2.65rem;
    left: 0.725rem;
    transform: rotate(30deg);
}

.ice {
    width: 4rem;
    height: 4rem;
    background: #fff;
    opacity: 40%;
    border-radius: 30%;
    transform: rotate(250deg);
    position: relative;
    margin-top: 14rem;
    margin-left: -3.9rem;
    box-shadow: 6.5rem 6rem #fff;
}

.ice::before, .ice::after {
    content: "";
    position: absolute;
    width: 4rem;
    height: 4rem;
    background: #fff;
    border-radius: 30%;
}

.ice::before {
    transform: rotate(30deg);
    top: 1.5rem;
    left: 6rem;
}

.ice::after {
    transform: rotate(30deg);
    top: 4.5rem;
    left: 2rem;
}